<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TV Shows | MovieFlix</title>
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>

<!-- ===== HEADER (NO CHANGE) ===== -->
<header class="header">
  <div class="logo">🎬 MovieHub</div>

  <nav class="nav">
    <a href="/">Home</a>
    <a href="/moivepage">Movies</a>
    <a href="/trending">Trending</a>
    <a href="/contact">contact</a>
  </nav>

  <div class="header-right">
    
    <a href="/add-moive"><button>Add Movie</button></a>
  </div>
</header>